.nav {
    background-color: #1E90FF;
    padding: 18px;
    margin-left: 15px;
    margin-right: 15px;
    font-family: "Courier New";
    font-weight: 600;
    font-size: 18px;
    margin-left: 10px;
    color: #FFFFFF;
    border-radius: 10px;
}
.link {
    text-decoration: none;
  }
 